body{
    background-size: cover;
}

.hospital-title{
    text-align: center;
    font-weight: bolder;
    font-size:xx-large;
}

.login-page{
    position: absolute;
    background-color: white;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
}
